[Unit]
Description=早盘扫描出票定时器
Requires=xiaogu-morning-scan.service

[Timer]
OnCalendar=Mon..Fri *-*-* 09:15:00
Persistent=true

[Install]
WantedBy=timers.target
